/* Inserta tu CSS aqui */
.uno {
    height: 100px;
    width: 100px;
    background-color: rgb(128, 128, 128);
    border: 2px solid black;
margin-bottom: 5px;
}
p {
    height: 100px;
    width: 100px;
    border: black;
    border: 2px solid #111111;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
    
   
   
}

   
.cinco, .seis { 
    
    height: 100px;
    width: 100px;
     display: inline-block;
    background-color: rgb(128, 128, 128);
    border: 2px solid black;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 0px;

    
}
.siete {
    height: 100px;
    width: 100px;
    background-color: rgb(128, 128, 128);
    border: 2px solid black;
    margin-top: 10px;
}
.ocho {
   background-color: rgb(128, 128, 128);
  
    width: 360px;
    height: 129px;
    padding-left: 10px;
    
   
    }
a {
    

    margin: 15px;
    padding: 20px;
    background-color:rgba(16, 223, 230, 0.7);
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #F3E3E3;
    font-family: fantasy;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
   transition: width 10s;
    text-decoration:none;
    cursor: auto;
    color: black;
    margin-left: 500px;
    

}
a:hover {
    padding: 5px;
    background-color: rgba(255, 0, 203, 0.46);
    
}

